:root{
    --bg-color: #151F30;
    --menu: rgba(0, 0, 0, .9);
    --links: #0593A2;
    --contraste: #FF7A48;
    --divisao: #E3371E;

    --divisao1: #8C1F28;
    --color1: #591C21;
    --btn: #044040;
    --color1: #D92525;
    --cor-fonte: #F2F2F2;

    --fonte-intro: 'MedievalSharp', cursive;
    --fonte-principal: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
}

h2{
    text-align: center;
    margin: 50px 0px;
}

/*-----------MENU------------*/

.cabecalho{
    align-items: center;
    background-color: var(--menu);
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    width: 100vw;
}

.cabecalho__ass{
    border: .2rem solid var(--cor-fonte);
    border-radius: 50%;
    margin-left: 50px;
    padding: 1.1rem .5rem;
}

.cabecalho__menu-lista{
    align-items: center;
    display: flex;
    margin-right: 30px;
}

.cabecalho__menu-item{
    color: var(--links);
    font-size: 20px;
    list-style: none;
    margin: 10px 20px;
}

/*-----------INTRO------------*/

.introducao{
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 2fr;
    height: 100vh;
}

.introducao__box-texto{
    text-align: center;
}

.introducao__nome{
    /*Fomatação do texto*/
    font-family: var(--fonte-intro);
    font-size: 2.5rem;

    /* Disposição na tela */
    margin: 30px 0px;
}

.introducao__texto{
    font-size: 1.25rem;
}

.introducao__imagem{
    overflow: hidden;
}

.introducao__foto{
    /* Formatação */
    height: 200px;
    width: 200px; 
    
    /* mascara */
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    object-fit: cover;
}

.introducao__box-redes{
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-redes{
    /* Disposição na tela */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Borda */
    border: 1.5px solid black; 
    border-radius: 15px;
    margin: 50px 0px;
    padding: 15px;
    width: 250px;

    /* Formatação do texto */
    text-decoration: none;
    color: var(--links);

    /* Botão */
    background-color: var(--btn);
}

.btn-texto{
    margin-left: 25px;
}

/*-----------DIVISÃO------------*/

.divisao__secao{
    display: flex;
    justify-content: center;
}

hr{
    border-style: solid;
    border-width: 2.5px;
    color: var(--divisao);
    width: 90%;
}

/*-----------SOBRE------------*/

.sobre__conteudo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 80px;
}

.sobre__imagem{
    box-sizing: border-box;
    justify-self: center;
}

.sobre__box-texto{
    border-left: 5px solid var(--contraste);
    padding-left: 20px;
}

.sobre__texto{
    margin-bottom: 30px;
}

.sobre__texto-final{
    text-align: center;
}

/*-----------PROJETOS------------*/

.projetos__conteudo{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    row-gap: 125px;
    margin-bottom: 150px;
}

.projetos__card{
    /*Disposição*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Formato */
    border: 2px solid black;
    border-radius: 10px;
    height: 350px;
    width: 250px;

    background-color: var(--menu);
}

.card__imagem img{
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.card__titulo{
    color: var(--contraste);
    margin: 5px;
    text-align: center;
}

.card__descricao{
    font-size: 14px;
    margin: 8px;
}

/*-----------HABILIDADES------------*/

.habilidades__conteudo{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px 100px;
}

.habilidades__icones-lista{
    list-style-type: none;
    margin: 10px 30px;
    border-right: 2px solid var(--contraste);
}

.habilidade__icone-item{
    margin: 20px 0px;
}

.habilidades__lista{
    margin: 10px 30px;
}

.habilidades__item{
    margin: 5px 0px;
}

.embarcados{
    display: block;
}

.web{
    display: none;
}

.front{
    display: none;
}

.dados{
    display: none;
}

/*-----------RODAPE------------*/

footer{
    background-color: var(--menu);
    padding: 30px;
    text-align: center;
}