.habilidades{
    margin-bottom: 90px;
}

.habilidades__conteudo{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px 100px;

}

.habilidades__topico-lista{
    list-style-type: none;
    margin: 10px 30px;
    border-right: 2px solid var(--contraste);
}

.habilidade__topico-item{
    margin: 20px 0px;
}

.habilidade__topico-btn{
    background-color: var(--menu);
    border: none;
    color: var(--cor-fonte);
    font-size: 16px;
    height: 50px;
    width: 250px;
}

.habilidade__topico-btn:hover{
    font-size: 18px;
}

.habilidades__lista{
    margin: 10px 30px;
}

.habilidades__item{
    margin: 5px 0px;
}

.descricao__inicial{
    display: block;
}

.hidden{
    display: none;
}

@media screen and (max-width: 768px){
    .habilidades__conteudo{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px;    
    }
    
    .habilidades__conteudo-topico{
        width: 100%;
    }


    .habilidades__topico-lista{
        border-right: none;
        list-style-type: none;
        margin: 10px;
    }

    .habilidade__topico-btn{
        width: 100%;
    }

    .habilidades__descricao{
        width: 90%;
    }
}