.projetos__conteudo{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    row-gap: 125px;
    margin-bottom: 150px;
}

.projetos__card{
    /*Disposição*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Formato */
    border: 2px solid black;
    border-radius: 10px;
    height: 350px;
    width: 250px;

    background-color: var(--menu);
    transition: 500ms;
}

.projetos__card:hover{
    border: 2px solid var(--links);
}

.projetos__card-link{
    text-decoration: none;
}

.projetos__card-link:visited{
    text-decoration: none;
    color: var(--cor-fonte);
}

.card__imagem img{
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.card__titulo{
    color: var(--contraste);
    margin: 5px;
    text-align: center;
}

.card__titulo:visited{
    color: var(--contraste);
}

.card__descricao{
    font-size: 14px;
    margin: 8px;
}

@media screen and (max-width: 1024px) {
    .projetos__conteudo{
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, 250px);
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    .projetos__conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }

    .projetos__card{
        height: auto;
        width: 90%;
    }

    .projetos__card-link{
        text-decoration: none;
    }
    
    .projetos__card-link:visited{
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .card__titulo{
        margin: 1.5rem;
    }

    .card__descricao{
        font-size: 1rem;
        margin: 1.2rem;
        color: var(--cor-fonte);
    }
}